html {
  background-color: #263034;
}

header {
  background-image: url("images/gif2.gif");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
